
:root{

    /*      Theme colors        */
    --text-dark: #000000;
    --text-light : #ffffff;
    --bg-light: #F6EDFE;
    --bg-dark: #6C3AAD;
    
    /* gradient color   */
    --lightbox-shadow: 0px 3px 4px 4px rgba(108, 58, 173, 0.08);


    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}


body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.content  {
    display: flex;
}
.side-nav{
    position: absolute;
    width: 137px;
    height: 1024px;
    /* left: 0px;
    top: 0px; */
    background: #FFFFFF;
}

.home-body{
    /* home-body */

    position: fixed;
    width: 1010px;
    height: 1024px;
    left: 137px;
    top: 0px;

    background: #F6EDFE;
}

.home-body .welcome-banner{
    /* welcome-banner */

    position: absolute;
    width: 939px;
    height: 227px;
    left: 34px;
    top: 127px;

    background: #FFFFFF;
    box-shadow: var(--lightbox-shadow);
    border-radius: 15px;
}

.home-body .welcome-banner .welcome-header{
    /* welcome-header */

    position: absolute;
    width: 295px;
    height: 28px;
    left: 48px;
    top: 62px;
}

.home-body .welcome-banner .welcome-header > p{
/* Hello, Dr Cooper! */

position: absolute;
width: 272px;
height: 27px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */
letter-spacing: 0.1em;
color: var(--bg-dark);
}


.home-body .welcome-banner .sub-header{
/* sub-header */
position: absolute;
width: 373px;
height: 83px;
left: 43px;
top: 113px;
}

.home-body .welcome-banner .sub-header > p{
    /* Welcome back! i hope you’re having a great work day saving humanity? Always remember not all heroes wear capes. */
    position: absolute;
    width: 352px;
    height: 89px;
    left: 5px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;

    color: #000000;
}

.home-body .patients-stat-group{
/* patients-stats-group */
/* position: absolute; */
width: 557px;
height: 132px;
/* left: 34px;
top: 390px; */
display: flex;
}

.home-body .patients-stat-group .patients-today{
    /* patients-today */

    box-sizing: border-box;

    position: absolute;
    width: 306px;
    height: 132px;
    left: 34px;
    top: 390px;

    background: #FFFFFF;
    border: 1px solid var(--bg-dark);
    box-shadow: 0px 3px 4px 4px rgba(108, 58, 173, 0.08);
    border-radius: 15px;

}

.home-body .patients-stat-group .patients-to-discharge{
    /* patients-to-discharge */

    position: absolute;
    width: 195px;
    height: 132px;
    left: 396px;
    top: 390px;

    background: var(--bg-dark);
    box-shadow: 0px 3px 4px 4px rgba(108, 58, 173, 0.08);
    border-radius: 15px;

}

.home-body .activities-banner{
    /* activities-banner */

    position: absolute;
    width: 939px;
    height: fit-content;
    left: 34px;
    top: 551px;

    background: #FFFFFF;
    box-shadow: var(--lightbox-shadow);
    border-radius: 15px;

}


.profile-panel{
    position: fixed;
    width: 293px;
    height: 1024px;
    left: 1147px;
    top: 0px;

    background: var(--bg-dark);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}