.side-nav .briefcase{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 39px;
    top: 43px;
}

.side-nav .nav-list{
    position: absolute;
    width: 76px;
    height: 805px;
    left: 28px;
    top: 169px;
    background-color: transparent;
}

.side-nav .nav-list > ul{
/* Component 1 */

position: absolute;
width: 79px;
height: 421px;
left: 0px;
top: auto;
}



.side-nav .nav-list .logout{
    /* logout-group */

    position: absolute;
    width: 76px;
    height: 58px;
    left: 3px;
    top: 254px;

}

.home-body .search-box{
    position: absolute;
    width: 362px;
    height: 49px;
    left: 34px;
    top: 30px;

    background: #FFFFFF;
    border-radius: 15px;
}


.home-body .search-box > svg{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 24px;
    top: 9px;
}


.home-body .search-box > input{

    position: absolute;
    width: 245px;
    height: 43px;
    left: 73px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 15px;
    border-color: transparent;
    color: var(--bg-dark);
    font-size: 20px;
    padding: 0 20px;

}