{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth-styles.css') }}">                                               
    {% endblock %}
{% endblock %}
{% block content %}

<section class="signup">
    <div class="row">
        <div class="left-image">
            <img src="{{url_for('static', filename='images/left-image.png')}}" alt="">
        </div>

        <div class="right-forms">
            <div class="form-area">
                <div class="sign-up-head">
                    <p class="sign-up-to">
                        Sign up to P.I.S
                    </p>
                </div>
                
                <form method="post" action="{{ url_for('auth_views.signup')}}", enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group-name">
                        <div class="form-group-firstname">
                          {{ form.firstname.label(id="form-label") }}
                          {{ form.firstname(class="form-firstname-input", type="text") }}
                        </div>
                        <div class="form-group-lastname">
                          {{ form.lastname.label(id="") }}
                          {{ form.lastname(class="form-lastname-input", type="text") }}
                        </div>
                    </div>
                    
                    <div class="form-group-signup-email">
                        {{ form.email.label(id="form-label") }}
                        {{ form.email(class="form-signup-email-input", type="email") }}
                    </div>

                    <div class="form-group-signup-password">
                        {{ form.password.label(id="") }}
                        {{ form.password(class="form-signup-password-input", type="password") }}
                    </div>

                    <div class="form-group-password2">
                        {{ form.password2.label(class="form-label-password2") }}
                        {{ form.password2(class="form-password2-input", type="password") }}
                    </div>

                    <div class="form-group-agree">
                        {{ form.agree(class="form-input") }}
                        <span id="agree">I agree with P.I.S’s <a href="">Terms of service</a>, <a href="">Privacy Policy</a> </span>
                    </div>
                
                    
                    <div class="form-signup-group-submit">
                        {{ form.submit(class="form-submit") }}
                    </div>

                    <p class="already-have-account">Already have an account? <a href="{{url_for("auth_views.signin")}}">Sign In</a></p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block footer %}
{% endblock %}
