{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block head %}
    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth-styles.css') }}">                                               
    {% endblock %}
{% endblock %}
{% block content %}
<section class="login">
    <div class="row">
        <div class="left-image">
            <img src="{{url_for('static', filename='images/left-image.png')}}" alt="">
        </div>

        <div class="right-forms">
            <div class="form-area">
                <div class="sign-in-head">
                    <p class="sign-in-to">
                        Sign in to P.I.S
                    </p>
                </div>
                
                <form method="post" action="{{ url_for('auth_views.signin')}}", enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group-email">
                        {{ form.email.label(id="form-label") }}
                        {{ form.email(class="form-email-input", type="email") }}
                    </div>
                    
                    <div class="form-group-password">
                        {{ form.password.label(id="form-label") }}
                        {{ form.password(class="form-password-input", type="password") }}
                    </div>

                    <div class="form-group-remember">
                        {{ form.remember_me(class="form-input") }}
                        {{ form.remember_me.label(class="form-label-remember") }}
                    </div>
                
                    
                    <div class="form-group">
                        {{ form.submit.label(class="form-label") }}
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning " style="margin: 15px 0; background-color: transparent; color: rgb(89, 31, 31)">
        <button type="button" class="close" data-dismiss="alert" style="color: rgb(112, 43, 43)">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
  
{% endblock %}
{% block footer %}
{% endblock %}
