<!doctype html>                                               
<html>
{% block head %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav-styles.css') }}">
    {% endblock %}                                               
    {% block title %}Patient-Information-System{% endblock %}
{% endblock %}
{% block body %}
    
    {% block content %}
    {% endblock %}  
   
    

    <div id="footer">
      {% block footer %}
        &copy; Copyright 2023 by <a href="https://github.com/wand3">Babawande</a>.                                                    
      {% endblock %}
    </div>

    {% block script %}
      <script src="{{ url_for('static', filename='js/htmx.min.js')}}"></script>
    {% endblock %}
{% endblock %}
</html>