<!doctype html>                                               
<html>
  <head>
    {% block head %}
     {% block styles %}                                            
     <link rel="stylesheet" href="{{ url_for('static', filename='auth-styles.css') }}">
     {% endblock %}                                               
     <title>{% block title %}Patient-Information-System{% endblock %} </title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
        {% block content %}
            
        {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        &copy; Copyright 2023 by <a href="https://github.com/wand3">Babawande</a>.                                                    
      {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
  </body>
</html>