{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<!-- display flashed messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning " style="margin: 15px 0; background-color: transparent; color: rgb(89, 31, 31)">
        <button type="button" class="close" data-dismiss="alert" style="color: rgb(112, 43, 43)">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    

    <h1>PIS home page</h1>
    <br>
    <h4>Welcome {{ current_user.username }}!</h4>
    {% for i in all %}
        <h3>{{i.id}} othernames: {{i.email}}  lastname: {{i.lname}} onale:  {{i.oname}} Genotype: {{i.genotype}}</h3>
    {% endfor %}
    <div class="d-flex flex-row flex-wrap">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth_views.logout') }}"><button type="button" class="btn button primary-button text-uppercase">Logout</button></a>
        {% else %}

            <a href="{{ url_for('auth_views.signup') }}"><button type="button" class="btn button secondary-button mr-4 text-uppercase" >Open An Account</button></a>
            <a href="{{ url_for('auth_views.signin') }}"><button type="button" class="btn button primary-button text-uppercase">Sign in</button></a>

        {% endif %}
    </div>
{% endblock %}


    
