{% extends "base.html" %}
{% block title %}Patient Profile{% endblock %}
{% block head %} {% endblock %}

{% block content %}
 <!-- display flashed messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning " style="margin: 15px 0; background-color: transparent; color: rgb(89, 31, 31)">
        <button type="button" class="close" data-dismiss="alert" style="color: rgb(112, 43, 43)">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    
        
    <h3> othernames: {{user.email}}  lastname: {{user.lname}} onale:  {{user.oname}}</h3>
    

{% endblock %}
{% block footer %}
{% endblock %}