{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <div class="regform">
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.fname.label }} {{ form.fname }}
        {{ form.lname.label }} {{ form.lname }}
        {{ form.oname.label }} {{ form.oname }}
        {{ form.address.label }} {{ form.address }}
        {{ form.email.label }} {{ form.email }}
        {{ form.phone.label }} {{ form.phone }}
        {{ form.mob.label }} {{ form.mob }}
        {{ form.yob.label }} {{ form.yob }}
        {{ form.gender.label }} {{ form.gender }}
        {{ form.bloodGroup.label }} {{ form.bloodGroup }}
        {{ form.genotype.label }} {{ form.genotype }}
        {{ form.history.label }} {{ form.history }}
        {{ form.doctor.label }} {{ form.doctor }}
        {{ form.submit }}
    </form>

  </div>
{% endblock %}
{% block footer %}
{% endblock %}
