{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block head %} {% endblock %}

{% block content %}
    <div class="last-update">
        <h4>Last Update</h4>
       
    </div>
    <div class="edit-profile">
    {% if id != None %}
        <form method="PUT" action="">
        {{ form.csrf_token }}
            {{ form.fname.label }} {{ form.fname(type="username", value=id.fname) }}
            {{ form.lname.label }} {{ form.lname(type="username", value=id.lname)  }}
            {{ form.oname.label }} {{ form.oname(type="username", value=id.oname)  }}
            {{ form.address.label }} {{ form.address(type="text", value=id.address)  }}
            {{ form.email.label }} {{ form.email(type='email', value=id.email) }}
            {{ form.phone.label }} {{ form.phone(type='phone', value=id.phone) }}
            {{ form.mob.label }} {{ form.mob(type='mob', value=id.mob) }}
            {{ form.yob.label }} {{ form.yob(type='yob', value=id.yob) }}
            {{ form.gender.label }} {{ form.gender(type='text', value=id.gender) }}
            {{ form.bloodGroup.label }} {{ form.bloodGroup(type='text', value=id.bloodGroup) }}
            {{ form.genotype.label }} {{ form.genotype(type='text', value=id.genotype) }}
            {{ form.history.label }} {{ form.history(type='text', value=id.history) }}
            {{ form.doctor.label }} {{ form.doctor(type='text', value=id.doctor) }}
            {{ form.submit }} 
        </form>
    {% endif %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
