{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block head %} {% endblock %}

{% block content %}
 <!-- display flashed messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning " style="margin: 15px 0; background-color: transparent; color: rgb(89, 31, 31)">
        <button type="button" class="close" data-dismiss="alert" style="color: rgb(112, 43, 43)">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="edit-profile"> 
    {% for i in all %}
    {% if user_id == i.id %}

    <div class="last-update">
        <h4>Last Update</h4>
        {{ i.updated_at }}
       
    </div>
    <form method="POST" action="{{ url_for('app_views.edit_record', user_id=user_id) }}", enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.fname.label(class="form-label") }}
            {{ form.fname(class="form-input", value=i.fname, type="username")}}
        </div>
        <div class="form-group">
            {{ form.lname.label(class="form-label") }}
            {{ form.lname(class="form-input", value=i.lname, type="username")}}
        </div>
        <div class="form-group">
            {{ form.oname.label(class="form-label") }}
            {{ form.oname(class="form-input", value=i.oname, type="username")}}
        </div>
        <div class="form-group">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-input", value=i.address, type="address") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-input", value=i.email, type="email") }}
        </div>
        <div class="form-group">
            {{ form.phone.label(class="form-label") }}
            {{ form.phone(class="form-input", value=i.phone, type="tel") }}
        </div>
        <div class="form-group">
            {{ form.dob.label(class="form-label") }}
            {{ form.dob(class="form-input", value=i.dob, type="date") }}
        </div>
        <div class="form-group">
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-input", value=i.gender, type="text") }}
        </div>
        <div class="form-group">
            {{ form.bloodgroup.label(class="form-label") }}
            {{ form.bloodgroup(class="form-input", value=i.bloodgroup, type="date-year") }}
        </div>
        <div class="form-group">
            {{ form.genotype.label(class="form-label") }}
            {{ form.genotype(class="form-input", type="select") }}
        </div>
        <div class="form-group">
            {{ form.marital_status.label(class="form-label") }}
            {{ form.marital_status(class="form-input", value=i.marital_status, type="select") }}
        </div>
        
        <div class="form-group">
            {{ form.submit.label(class="form-label") }}
            {{ form.submit() }}
        </div>
        
       
       
    </form>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
