{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block head %} {% endblock %}

{% block content %}

<!-- display flashed messages -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning " style="margin: 15px 0; background-color: transparent; color: rgb(89, 31, 31)">
    <button type="button" class="close" data-dismiss="alert" style="color: rgb(112, 43, 43)">&times;</button>
    {{ message }}
</div>
{% endfor %}

    <div class="last-update">
        <h4>Last Update</h4>
       
    </div>
    <div class="edit-profile"> 
    {% for i in all %}
    {% if user_id == i.id %}
    <form method="POST" action="{{ url_for('app_views.edit_record', user_id=user_id) }}", enctype="multipart/form-data">
        {{ form.hidden_tag() }}
       
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">fname</label>
            
            <div class="col-sm-10">
            {{ form.fname(value=i.fname)}}
            </div>
            
        </div>
       
       
    </form>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
