{% extends "admin_base.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
  
{% endblock %}
{% block content %}
  <!--  -->
  {% for i in users %}
    <p>{{i.id}} othernames: {{i.email}}  name: {{i.username}} Role: {{i.roles}}</p>
  {% endfor %}

  {% for i in patients %}
    <p>{{i.id}} othernames: {{i.email}}  name: {{i.username}} Role: {{i.roles}}</p>
  {% endfor %}

  {% block createrole %}
    {% include "create_role.html" %}
  {% endblock %}

  

  <!-- </div> -->
{% endblock %}
{% block footer %}
{% endblock %}
