{% extends "admin_base.html" %}
{% block title %}Admin{% endblock %}
{% block head %}
  
{% endblock %}
{% block content %}
  <h4>Users</h4>
  {% for i in users %}
    <p>{{i.id}} othernames: {{i.email}}  name: {{i.username}} Role: {{i.roles}}</p>
  {% endfor %}


  <h4>Patients</h4>
  {% for i in patients %}
    <p>{{i.id}} othernames: {{i.email}}  name: {{i.username}} Role: {{i.roles}}</p>
  {% endfor %}


  <h4>Roles</h4>
  {% for i in roles %}
    <p>{{i.id}} Rolename: {{i.name}} </p>
  {% endfor %}
  {% block createrole %}
    {% include "create_role.html" %}

    <h4>Assign role</h4>
    {% include "assign_role.html" %}
    {#<!-- <div class="delete-role">
        <button><a href="{{ url_for('admin.delete_role', id=user.id) }}">Delete Role</a> </button>
    </div> -->#}
    
    {% for user in users %}
      <li>
      {{user.email}}
        <form action="{{ url_for('api_views.admin_delete_user_role', id=user.id) }}", method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
            {{user.id}}
        </form>
       </li>
    {% endfor %}
   
    
    
    Delete User Role</button>
    <div id="user_deleted"></div>
  {% endblock %}

  



  

  </div> 
{% endblock %}
{% block footer %}
{% endblock %}

<!-- load scripts for admin page -->
{% block scripts %}
  {{ super() }}
  <script src="{{url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
